/* src/components/Services.css */
.services-section {
    padding: 50px;
    text-align: left;
    color: white;
  }
  
  .section-header {
    text-align: left;
    margin-top: 40px;
  }
  
  .section-subtitle {
    color: #00ff00;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .services-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align children at the top */
    gap: 20px; /* Add some spacing between the cards */
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .services-container {
      flex-direction: column;
      align-items: center;
    }
  
    .service-card {
      width: 100%;
      margin-bottom: 25px; /* Add margin at the bottom for spacing between cards */
    }
  }
  